In [19]:
import numpy as np
import pandas as pd
import main
las_data = pd.read_csv(main.csv_las_out_full_path, delimiter=';')
las_data.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>well_name</th>
      <th>STRT</th>
      <th>STOP</th>
      <th>DEPT</th>
      <th>aps</th>
      <th>rp</th>
      <th>kp</th>
      <th>kgl</th>
      <th>kpr</th>
      <th>kvo</th>
      <th>kng</th>
      <th>lit</th>
      <th>satur</th>
      <th>UWI</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>224st4</td>
      <td>2729.2</td>
      <td>2929.4</td>
      <td>2729.2</td>
      <td>0.22</td>
      <td>8.4</td>
      <td>0.095</td>
      <td>0.329</td>
      <td>0.1</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>314_103ST2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>224st4</td>
      <td>2729.2</td>
      <td>2929.4</td>
      <td>2729.3</td>
      <td>0.22</td>
      <td>8.4</td>
      <td>0.095</td>
      <td>0.329</td>
      <td>0.1</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>314_103ST2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>224st4</td>
      <td>2729.2</td>
      <td>2929.4</td>
      <td>2729.4</td>
      <td>0.22</td>
      <td>8.4</td>
      <td>0.095</td>
      <td>0.329</td>
      <td>0.1</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>314_103ST2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>224st4</td>
      <td>2729.2</td>
      <td>2929.4</td>
      <td>2729.5</td>
      <td>0.22</td>
      <td>8.4</td>
      <td>0.095</td>
      <td>0.329</td>
      <td>0.1</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>314_103ST2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>224st4</td>
      <td>2729.2</td>
      <td>2929.4</td>
      <td>2729.6</td>
      <td>0.22</td>
      <td>8.4</td>
      <td>0.095</td>
      <td>0.329</td>
      <td>0.1</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>314_103ST2</td>
    </tr>
  </tbody>
</table>
</div>

In [20]:
del las_data['STRT']
del las_data['STOP']
del las_data['rp']
del las_data['aps']
del las_data['kpr']
del las_data['kvo']
del las_data['kng']
del las_data['lit']
del las_data['satur']
del las_data['kp']
las_data.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>well_name</th>
      <th>DEPT</th>
      <th>kgl</th>
      <th>UWI</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>224st4</td>
      <td>2729.2</td>
      <td>0.329</td>
      <td>314_103ST2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>224st4</td>
      <td>2729.3</td>
      <td>0.329</td>
      <td>314_103ST2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>224st4</td>
      <td>2729.4</td>
      <td>0.329</td>
      <td>314_103ST2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>224st4</td>
      <td>2729.5</td>
      <td>0.329</td>
      <td>314_103ST2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>224st4</td>
      <td>2729.6</td>
      <td>0.329</td>
      <td>314_103ST2</td>
    </tr>
  </tbody>
</table>
</div>

In [21]:
las_data.replace('314_', '', regex=True, inplace=True)
#del las_data['well_name']
las_data = las_data.rename(columns={'well_name': 'WELL_NAME'})
las_data = las_data.rename(columns={'UWI': 'WELL_NAME_UWI'})
las_data = las_data.rename(columns={'kgl': 'KGL'})
las_data = las_data.rename(columns={'DEPT': 'DEPTH'})
las_data.head(n=2)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>WELL_NAME</th>
      <th>DEPTH</th>
      <th>KGL</th>
      <th>WELL_NAME_UWI</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>224st4</td>
      <td>2729.2</td>
      <td>0.329</td>
      <td>103ST2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>224st4</td>
      <td>2729.3</td>
      <td>0.329</td>
      <td>103ST2</td>
    </tr>
  </tbody>
</table>
</div>

In [24]:
real_top = pd.read_csv('real_data_test\\top_df.csv', delimiter=';')
real_top = real_top.rename(columns={'WELL_NAME': 'WELL_NAME_UWI'})
del real_top['X']
del real_top['Y']
real_top.head(n=2)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>WELL_NAME_UWI</th>
      <th>DEPTH_TOP</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>100</td>
      <td>2548.81</td>
    </tr>
    <tr>
      <th>1</th>
      <td>101</td>
      <td>2556.23</td>
    </tr>
  </tbody>
</table>
</div>

In [25]:
real_bottom = pd.read_csv('real_data_test\\bottom_df.csv', delimiter=';')
real_bottom = real_bottom.rename(columns={'WELL_NAME': 'WELL_NAME_UWI'})
del real_bottom['X']
del real_bottom['Y']
real_bottom.head(n=2)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>WELL_NAME_UWI</th>
      <th>DEPTH_BOTTOM</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>100</td>
      <td>2564.81</td>
    </tr>
    <tr>
      <th>1</th>
      <td>101</td>
      <td>2571.71</td>
    </tr>
  </tbody>
</table>
</div>

In [26]:
water_content_data = pd.read_csv(main.data_dir + "\\water_content.csv", delimiter=';')
water_content_data = water_content_data.rename(columns={'Скважина': main.keys_dict[main.kid_well]})
water_content_data = water_content_data.rename(columns={' Начальная обводненность ': 'WC'})
water_content_data = water_content_data.rename(columns={'Дата запуска': 'date_start'})
del water_content_data['date_start']
water_content_data = water_content_data.rename(columns={'well_name': 'WELL_NAME'})
water_content_data.head(n=2)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>WELL_NAME</th>
      <th>WC</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>380</td>
      <td>0.49</td>
    </tr>
    <tr>
      <th>1</th>
      <td>379</td>
      <td>0.30</td>
    </tr>
  </tbody>
</table>
</div>

In [27]:
print(len(las_data['WELL_NAME'].value_counts()))
print(len(real_bottom['WELL_NAME_UWI'].value_counts()))
print(len(real_top['WELL_NAME_UWI'].value_counts()))
print(len(water_content_data['WELL_NAME'].value_counts()))

223
230
230
180

In [28]:
real_data = pd.merge(water_content_data, las_data, on='WELL_NAME')
real_data = pd.merge(real_data, real_top, on='WELL_NAME_UWI')
real_data = pd.merge(real_data, real_bottom, on='WELL_NAME_UWI') 
real_data.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>WELL_NAME</th>
      <th>WC</th>
      <th>DEPTH</th>
      <th>KGL</th>
      <th>WELL_NAME_UWI</th>
      <th>DEPTH_TOP</th>
      <th>DEPTH_BOTTOM</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>380</td>
      <td>0.49</td>
      <td>2593.0</td>
      <td>0.444</td>
      <td>178</td>
      <td>2560.32</td>
      <td>2586.48</td>
    </tr>
    <tr>
      <th>1</th>
      <td>380</td>
      <td>0.49</td>
      <td>2593.1</td>
      <td>0.444</td>
      <td>178</td>
      <td>2560.32</td>
      <td>2586.48</td>
    </tr>
    <tr>
      <th>2</th>
      <td>380</td>
      <td>0.49</td>
      <td>2593.2</td>
      <td>0.444</td>
      <td>178</td>
      <td>2560.32</td>
      <td>2586.48</td>
    </tr>
    <tr>
      <th>3</th>
      <td>380</td>
      <td>0.49</td>
      <td>2593.3</td>
      <td>0.444</td>
      <td>178</td>
      <td>2560.32</td>
      <td>2586.48</td>
    </tr>
    <tr>
      <th>4</th>
      <td>380</td>
      <td>0.49</td>
      <td>2593.4</td>
      <td>0.444</td>
      <td>178</td>
      <td>2560.32</td>
      <td>2586.48</td>
    </tr>
  </tbody>
</table>
</div>

In [29]:
print(len(real_data['WELL_NAME'].value_counts()))
real_data.info()

166
<class 'pandas.core.frame.DataFrame'>
Int64Index: 342153 entries, 0 to 342152
Data columns (total 7 columns):
WELL_NAME        342153 non-null object
WC               342153 non-null float64
DEPTH            342153 non-null float64
KGL              181465 non-null float64
WELL_NAME_UWI    342153 non-null object
DEPTH_TOP        342153 non-null float64
DEPTH_BOTTOM     340224 non-null float64
dtypes: float64(5), object(2)
memory usage: 20.9+ MB

In [32]:
real_data_na = real_data.dropna()
print(len(real_data['WELL_NAME'].value_counts()))
real_data.info()

165
<class 'pandas.core.frame.DataFrame'>
Int64Index: 180788 entries, 0 to 342152
Data columns (total 7 columns):
WELL_NAME        180788 non-null object
WC               180788 non-null float64
DEPTH            180788 non-null float64
KGL              180788 non-null float64
WELL_NAME_UWI    180788 non-null object
DEPTH_TOP        180788 non-null float64
DEPTH_BOTTOM     180788 non-null float64
dtypes: float64(5), object(2)
memory usage: 11.0+ MB

Загружаем переход от md в abs

In [15]:
dev_path = "..\\tasks\\task 6\\data\\trace\\"
real_data['WELL_NAME_UWI']

KeyError: 'WELL_NAME_UWI'

In [33]:
from scipy import interpolate
well_name_list = real_data_na['WELL_NAME'].value_counts().index.tolist()
x_values = []
y_values = []
count_val = 100
well_count = 0
for well_name in well_name_list:
    if well_count%20 == 0:
        print(well_count, ' of ', len(well_name_list))
    data_well =  real_data_na[real_data_na['WELL_NAME'] == well_name]
    bottom = data_well['DEPTH_BOTTOM'].tolist()[0]
    top = data_well['DEPTH_TOP'].tolist()[0]
    data_well_by_bound = data_well[(data_well['DEPTH'] >= top) & (data_well['DEPTH'] <= bottom)]
    x_arr = data_well_by_bound['DEPTH']
    y_arr = data_well_by_bound['KGL']
    
    # print ('length of array depth', len(x_arr))
    # print(len(x_arr), len(y_arr))
    if len(x_arr) < 10:
        continue
    f_spline = interpolate.interp1d(x_arr, y_arr, kind = 'slinear')
    h_start = data_well_by_bound['DEPTH'].min()
    h_end = data_well_by_bound['DEPTH'].max()
    # print(h_start, h_end, top, bottom)
    h_step = (h_end - h_start)/count_val
    x_temp = []
    i = 0
    while(i < count_val):
        x_temp.append(float(f_spline(h_start + i * h_step)))
        i = i + 1
    x_values.append(x_temp)  
    y_values.append(data_well['WC'].tolist()[0])
    well_count = well_count + 1
print('end fill')

0  of  165

end fill

In [35]:
len(y_values)

15

In [36]:
y_values_r = [int(10 * y_val) for y_val in y_values]

In [38]:
import pickle
# Loading the saved decision tree model pickle
decision_tree_pkl_filename = 'fake_data\\decision_tree_classifier_fake_data_kgl.pkl'
decision_tree_model_pkl_load = open(decision_tree_pkl_filename, 'rb')
decision_tree_model = pickle.load(decision_tree_model_pkl_load)
print("Loaded Decision tree model :: ", decision_tree_model)
# tree_pred = decision_tree_model.predict(x_hold)
# accuracy_score(y_hold, tree_pred)

Loaded Decision tree model ::  DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=20,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=17, splitter='best')

In [39]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.cross_validation import cross_val_score
tree_pred = decision_tree_model.predict(x_values)
accuracy_score(y_values_r, tree_pred)

D:\libs\Anaconda\3.3\envs\aind\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

0.066666666666666666