In [13]:
import numpy as np
import pandas as pd
fake_real_las_aps = pd.read_csv('fake_data/fake_real_las_aps.csv', delimiter=';')
fake_real_las_aps.head()

,wc,x0,x1,x2,x3,x4,x5,x6,x7,x8,...,x90,x91,x92,x93,x94,x95,x96,x97,x98,x99
0,0.137514,0.29,0.2900,0.2900,0.2985,0.4600,0.460,0.46,0.320,0.32,...,0.78,0.78,0.7800,0.78,0.78,0.78,0.78,0.78,0.78,0.78
1,0.348639,0.56,0.5600,0.5056,0.3900,0.3900,0.582,0.63,0.630,0.72,...,0.74,0.74,0.7400,0.74,0.74,0.74,0.74,0.74,0.74,0.74
2,0.418004,0.33,0.3300,0.3300,0.3300,0.3300,0.330,0.33,0.330,0.33,...,0.66,0.38,0.3800,0.56,0.56,0.56,0.56,0.56,0.44,0.44
3,0.330812,0.06,0.0762,0.1500,0.1500,0.2724,0.320,0.32,0.780,0.78,...,0.40,0.40,0.6072,0.77,0.77,0.77,0.77,0.77,0.77,0.77
4,0.319543,0.33,0.3300,0.3300,0.3300,0.5800,0.580,0.58,0.485,0.33,...,0.53,0.53,0.6400,0.64,0.64,0.70,0.70,0.70,0.70,0.70

In [14]:
fake_real_las_kgl = pd.read_csv('fake_data/fake_real_las_kgl.csv', delimiter=';')
fake_real_las_kgl.head()

,wc,kgl0,kgl1,kgl2,kgl3,kgl4,kgl5,kgl6,kgl7,kgl8,...,kgl90,kgl91,kgl92,kgl93,kgl94,kgl95,kgl96,kgl97,kgl98,kgl99
0,0.137514,0.293,0.293,0.29300,0.28915,0.216,0.216,0.216,0.279,0.279,...,0.099,0.099,0.099,0.099,0.099,0.099,0.099,0.099,0.099,0.099
1,0.348639,0.177,0.177,0.19876,0.24500,0.245,0.169,0.150,0.150,0.117,...,0.113,0.113,0.113,0.113,0.113,0.113,0.113,0.113,0.113,0.113
2,0.418004,0.275,0.275,0.27500,0.27500,0.275,0.275,0.275,0.275,0.275,...,0.137,0.252,0.252,0.175,0.175,0.175,0.175,0.175,0.224,0.224
3,0.254937,0.273,0.273,0.27300,0.27300,0.273,0.273,0.273,0.273,0.273,...,0.444,0.444,0.444,0.423,0.423,0.423,0.423,0.423,0.423,0.423
4,0.302217,0.272,0.272,0.27200,0.27200,0.272,0.269,0.269,0.269,0.269,...,0.399,0.397,0.397,0.397,0.397,0.397,0.362,0.362,0.362,0.362

In [15]:
real_kgl_aps = pd.merge(fake_real_las_aps, fake_real_las_kgl, on = ['wc'])

In [17]:
print(real_kgl_aps.shape)
print(fake_real_las_aps.shape)
print(fake_real_las_kgl.shape)

(130, 201)
(129, 101)
(160, 101)

In [18]:
real_kgl_aps.head()

,wc,x0,x1,x2,x3,x4,x5,x6,x7,x8,...,kgl90,kgl91,kgl92,kgl93,kgl94,kgl95,kgl96,kgl97,kgl98,kgl99
0,0.137514,0.29,0.2900,0.2900,0.2985,0.4600,0.460,0.46,0.320,0.32,...,0.099,0.099,0.0990,0.099,0.099,0.099,0.099,0.099,0.099,0.099
1,0.348639,0.56,0.5600,0.5056,0.3900,0.3900,0.582,0.63,0.630,0.72,...,0.113,0.113,0.1130,0.113,0.113,0.113,0.113,0.113,0.113,0.113
2,0.418004,0.33,0.3300,0.3300,0.3300,0.3300,0.330,0.33,0.330,0.33,...,0.137,0.252,0.2520,0.175,0.175,0.175,0.175,0.175,0.224,0.224
3,0.330812,0.06,0.0762,0.1500,0.1500,0.2724,0.320,0.32,0.780,0.78,...,0.242,0.242,0.1636,0.102,0.102,0.102,0.102,0.102,0.102,0.102
4,0.319543,0.33,0.3300,0.3300,0.3300,0.5800,0.580,0.58,0.485,0.33,...,0.188,0.188,0.1440,0.144,0.144,0.124,0.124,0.124,0.124,0.124

In [19]:
real_kgl_aps.to_csv('fake_data/real_kgl_aps.csv', sep = ';', index = False)